/* Global Variables & Values */

// Header Styles

.top-header {
  font-size: 0.85em;
  color: #fff !important;
  a {
  	color:#fff;
  	text-decoration: none;
  }
  @media(max-width:640px){
	font-size: 0.8em;
	text-align: center;
  }
}

#site-logo {
	max-width:320px;
	margin:10px;
	@media(max-width:800px){
		max-width: 265px;
	}
	@media(max-width:640px){
		max-width: 230px;
	}
	@media(max-width:480px){
		max-width: 205px;
	}
}

.blvd-logo .navbar-toggle {
	margin-top: 20px !important;
    border: solid 2px rgba(255,255,255,0.5) !important;
}

.banner .header-widgets .blvd-logo {
    margin-top: 0;
    margin-bottom: 0;
}

.banner .header-widgets .blvd-responsive-menu {
    margin-top: 20px;
}


.contact-header-info {
    float: right;
    text-align: right;
    padding: 26px 30px 0 0;
    font-size: 0.9em;
    a {
    	float:right;
    	margin-left:15px;
    	color:rgba(255,255,255,0.8);
    	i {
    		font-size: 1.2em;
    		color:rgba(255,255,255,0.95);
    	}
    }
}



// Homepage Parallax

.homepage-parallax {
	background:url('#{$home_widget_parallax}');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover; 
	width:100%; 
	display:block;
	text-align:center;
	margin:50px auto;
	padding:70px 0;
	h3.widget-title {
		font-size:5em; 
		color:#fff; 
		@media(max-width:800px){
			font-size:3.5em;
		}
	}
	.textwidget {
		color:#fff; 
		font-size:1.4em;
	}
	a {
		display:block; 
		color:#fff; 
		padding:10px 20px; 
		border:solid 4px #fff; 
		background-color: rgba(255, 255, 255, 0.2); 
		width:20%; 
		margin:25px auto; 
		font-size:0.8em;
		@media(max-width:800px){
			width: 50%;
		}
	}
	
	a:hover {
		text-decoration:none; 
		background-color: rgba(255, 255, 255, 0.8); 
		color:#23282e;
	}
}










// Single Agent Page

.single-agent .contact-info {
  width: 75%;
  @media(max-width:1000px){
      width:100%;
  }
}

.calls2action .btn.btn-primary {
  display: block;
  margin: 25px auto -10px !important;
}

.single-agent .agent-contact-info {
    font-size:0.9em;
}

.single-agent .agent-contact-info .agent-tabs {
  margin: 25px 0;
}

.agents-row.col-3 {
  display: inline;
}

.agents-archive .agent-data {
  min-height: 140px;
  @media(max-width:1024px){
      width:48% !important;
  }
  @media(max-width:480px){
      width:98% !important;
      clear:both !important;
  }
}




// Injections!

// Homepage Styles
	

.home {
	#post-273 .entry-content {
		margin:175px auto 375px auto;
		@media(max-width:1100px){
			margin:175px auto 325px auto;
		}
		@media(max-width:980px){
			margin:175px auto 275px auto;
		}
		@media(max-width:800px){
			margin:175px auto 300px auto;
		}
	}

	.blvd-slideshow {
		top: 120px;
		@media(max-width:990px){
			top:100px;
		}
		@media(max-width:800px){
			top:80px;
		}
	}

	.homepagetext {
		text-align: center;
		h1 {
			font-size: 4em;
			margin:100px 0 0 0;
			color:rgba(255,255,255,0.9);
			text-shadow: 1px 2px 1px rgba(0,0,0,0.8);
			line-height: 1.1em;
			span {
				color: lighten($brand-primary,7%);
				font-size: 2em;
				margin:0 0 0 0 !important;
				padding:0;
			}
			@media(max-width:800px){
				font-size:3.5em;
			}
		}
		h2 {
			font-size: 1.75em;			
			color:rgba(255,255,255,1);
			text-shadow: 1px 2px 1px rgba(0,0,0,0.8);
		}
	}

	.home-box {
		margin:2%;
		width: 29%;
		padding:30px 45px;
		text-align: center;
		min-height: 240px;
		border:solid 3px $brand-primary;
		.hji-icon-wrap .glyphicon {
			padding:15px 20px;
			border-radius:70px;
			font-size: 4.5em;
			margin-top: 20px;
			transition: all 0.5s ease;
		}
		a,
		h3 {
			color:$brand-primary;
		}
		h3 {
			font-size: 1.4em;
		}
		@media(max-width:800px){
			width:96%;
		}
	}
	.home-box:hover {
		background:$brand-primary;
		.hji-icon-wrap .glyphicon {
			font-size: 6em;
		}
		a,
		h3 {
			color:#fff;
		}
	}

	.quick-search-widget-wrapper {
		border:none;
		background:rgba(0,0,0,0.7);
		max-width: 750px;
		margin:25px auto;
		padding:15px;
	}
	
}









#footer {

	a {
		color: #fff;
	}

	h3 {
		color:#fff;
		border-bottom:none;
		font-size: 1.5em;
	}

	.textwidget ul {
	margin:-10px 0 0 0;
	padding:0;

		li {
			list-style:none;
			margin:2%;
			padding: 0;
			float: left;
			font-size: 1em;

			i {
				padding-right: 20px;
				font-size: 2em;
				float: left;
				opacity: 0.5;
			}
		}
	}

	ul#menu-resources {
	margin:0 0 0 0;
	padding:0;

		li {
			list-style:none;
			margin:2%;
			padding: 0;
			float: left;
			font-size: 1em;
			border: solid 1px lighten($brand-primary,5%);
			a {
				transition: all 0.5s ease;
				color:#fff;
			}
		}
		li a:hover {
			color:#fff;
			background:darken($brand-primary,10%);
		}
	}

	.widget-container {
		background:none;
		padding:0;
		margin:20px auto !important;
		.widget-title {
			background:none;
			padding:0 20px 10px 20px;
			font-size: 2em;
			margin-top: -20px;
			h3 {
				color:#fff;
			} 
		}
		.textwidget,
		.hjitb {
			padding:20px;
		}
	}

	#copyright {
		margin:10px 0;
		font-size: 0.85em;
	}

	.social-link {
	  border: 2px solid #fff;
    font-size: 2em;
    padding: 7px 18px;
    margin-right: 35px;
    border-radius: 50px;
    display: inline-block;
	}
}


#copyright {
	padding: 20px;
    background: #162b50;
}

#idx-footer-compliance {
	display:none;
}